.body-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* border: 1px solid red; */
    padding: 1rem 4rem;
}

.options-container {
    /* border: 1px solid red; */
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.option-top-container {
    display: flex;
    gap: 1rem;
}

.option-bottom-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid blue; */
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type='checkbox'] {
    width: 22px;
    height: 22px;
    border: 2px solid #ccc;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 8px;
}

.checkbox-container input[type='checkbox']:checked {
    background-color: #D93025;
    border-color: #D93025;
}

.checkbox-container input[type="checkbox"]:checked::before {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin: 2px 4px;
  }

  .size-option-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .size-option {
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    padding: 1rem 1.5rem;
  }

  .size-option:hover {
    cursor: pointer;
  }

  .size-option-active {
    border: 1.5px solid red;
  }

  .colour-container {
    display: flex;
    gap: .5rem;
  }

  .colour {
    border-radius: 50%;
    height: 28px;
    width: 28px;
  }

  .colour-active01 {
    border: 2px solid white;
    height: 30px;
    width: 30px;
  }

  .colour-active02 {
    border: 1px solid #AA9F99;
    height: 32px;
    width: 32px;
  }

  .colour01 {
    background-color: #2196F3;
  }
  .colour02 {
    background-color: #E88A00;
  }
  .colour03 {
    background-color: #fff;
  }
  .colour04 {
    background-color: #868686;
  }
  .colour05 {
    background-color: #000;
  }
  .colour06 {
    background-color: #AA9F99;
  }

  .price-slider {
    border-bottom: 2px solid red;
  }

  .fromTo-container {
    /* border: 1px solid red; */
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }

  .from-container, .to-container {
    display: flex;
    flex-direction: column;
  }

.from-container input[type='text'], .to-container input[type='text'] {
    width: 4.5rem;
    border-radius: 8px;
    padding: .5rem;
}