.breadcrumb-container {
    display: flex;
    /* border: 1px solid green; */
    align-items: center;
    height: 7%;
}

.breadcrumb {
    display: flex;
    list-style: none;
    margin: .5rem 2rem;
    margin-top: 1.5rem;
    align-items: center;
}

.breadcrumb-item {
    margin-right: 5px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #808080;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '>';
    margin-right: 5px;
    color: #6c757d;
}

.breadcrumb-item.active {
    color: #6c757d;
}
